body {
    font-family: inter;
    margin: 0;
}

#navigation {
    margin-left: 870px;
}

#next {
    margin-right: 160px;
    vertical-align: middle;
}

#about, #what, #help, #contact {
    display: inline;
    font-size: 18px;
    margin-right: 25px;
    vertical-align: middle;
}

#contact {
    color: #8E26C0;
    font-weight: 600;
}

#contactUs {
    margin-left: 160px;
    padding: 8px 16px;
    border: 1px solid #8E26C0;
    border-radius: 8px;
    color: #8E26C0;
}

#whatWeOffer {
    margin-left: 300px;
    margin-top: 100px;
}

#header {
    width: 500px;
    text-align: center;
}

h2 {
    display: inline-block;
    text-align: center;
}

#imageDiv {
    display: inline-block;
    width: 500px;
    margin-right: 70px;
}

#textDiv {
    display: inline-block;
    width: 500px;
    margin-left: 45px;
}

#lorem {
    display: inline-block;
    color: #535862;
    font-weight: 200;
    padding-top: 13px;
}

#global {
    font-family: fira-sans;
    font-size: 22px;
    line-height: 40px;
    font-weight: 400;
}

h1 {
    text-align: center;
    font-size: 56px;
    margin-top: 60px;
}

#ipsum {
    color: #535862;
    text-align: center;
    width: 900px;
    margin: 0 auto;
    margin-bottom: 100px;
}

#infoAndMessage {
    background-color: #F7F4FF;
    width: 1600px;
    height: 490px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 8px;
    margin: 0 auto;
    border-radius: 16px;
}

#info {
    margin-left: 400px;
    background-color: white;
    display: inline-block;
    height: 455px;
    margin-right: 50px;
    border-radius: 8px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 10px;
    vertical-align: top;
}

#adress {
    display: block;
    height: 6px;
}

#adressOne {
    display: inline-block;
    margin-bottom: 34px;
    
}

#joystick {
    background-color: #F7F4FF;
    margin-right: 20px;
    margin-top: 9px;
    padding: 10px;
    border-radius: 24px;
}

#glen {
    display: inline-block;
    margin-top: -50px;
    margin-bottom: -30px;
}    

#ridge {
    display: inline-block;
}

#mail {
    width: 26px;
    display: inline-block;
    background-color: #F7F4FF;
    padding: 16px;
    border-radius: 20px;
}

#emailAndDeana {
    margin-left: 20px;
}

#email {
    display: block;
    margin-top: -50px;
    height: 6px;
    padding-top: -45px;
    margin-left: 60px;
}

#deana {
    display: inline-block;
    margin-top: -20px;
    margin-bottom: -40px;
    margin-left: 60px;
}    

#phone {
    width: 24px;
    margin-top: 40px;
    padding: 14px;
    margin-bottom: 8px;
    border-radius: 18px;
    background-color: #F7F4FF;
    display: inline-block;
}

#phoneOne {
    display: block;
    margin-top: -35px;
    height: 6px;
    padding-top: -45px;
    margin-left: 4px;
    margin-bottom: 1px;
}

#phonething {
    margin-left: 20px;
    display: inline-block;
    margin-top: -40px;
}

#num {
    display: inline-block;
    margin-top: 15px;
    vertical-align: bottom;

    margin-left: 4px
}    

#phoneinfo {
    display: inline-block;
    height: 10px;
    margin-bottom: 10px;
}

#formOne {
    display: inline-block;
    height: 400px;
    
}

#message {
    font-size: 32px;
    vertical-align: top;
   
}

font {
    padding-top: 0;
}

label {
    display: block;
    margin-bottom: 15px;
}

#fullName  {
    display: block;
    border-radius: 8px;
    color: #8E26C0;
    border: 1px solid #8E26C0;
    width: 570px;
    height: 34px;
    padding: 8px;
    margin-bottom: 6px;
}

#inputEmail {
    border-radius: 8px;
    border: 1px solid #8E26C0;
    color: #8E26C0;
    width: 570px;
    height: 34px;
    padding: 8px;
}

#textarea {
    display: block;
    margin-top: 30px;
    border: 1px solid #8E26C0;
    border-radius: 8px;
    width: 570px;
    height: 95px;
    padding: 8px;
    margin-bottom: 13px;
}

#send {
    background-color: #8E26C0;
    color: white;
    border-radius: 8px;
    padding: 13px 40px;
    border: none;
    margin-left: 480px;
}

#footer {
    background-color: #53389E;
    margin-top: 163px; 
    height: 490px;
}

#table {
    color: white;
    width: 1320px;
    margin: 0 auto;
    padding-top: 63px;
}

#product, #company, #resources, #cases, #socials, #legal {
    display: inline-block;
    margin-right: 20px;
    padding-right: 20px;
    width: 176px;
    color: #D6BBFB;
}

#overView, #aboutUs, #blog, #startups, #tweet, #terms {
    display: inline-block;
    width: 176px;
    margin-right: 20px;
    padding-right: 20px;
}

#features, #careers, #newsLetter, #enterprise, #linkedln, #privacy {
    display: inline-block;
    width: 176px;
    margin-right: 20px;
    padding-right: 20px;
    margin-top: 2px;
}

#solution, #Tutorials, #pricing, #releases {
    display: inline-block;
    width: 176px;
    margin-right: 20px;
    padding-right: 20px;
    margin-top: 2px;
}

#new {
    border: 1px solid rgba(255, 255, 255, 0.30);
    background-color: rgba(255, 255, 255, 0.10);
    padding: 4px;
    border-radius: 6px;
}

#copy {
    margin: 60px auto;
    padding-top: 23px;
    width: 1320px;
    border-top: 1px solid #7F56D9;
}

#untitled {
    display: inline-block;
    margin: 7px 0 0 0;
    vertical-align: top;
    color: white;
}

#copyright {
    display: inline-block;
    margin: 7px 0 0 800px;
    vertical-align: top;
    color: #D6BBFB;
}